/* Global  */
body {
  background-color: #ebe4de;
  margin: 0;
}

html {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
}

h2 {
  font-size: 30px;
  font-family: "Barlow", sans-serif;
  text-align: center;
}
h3 {
  font-size: 25px;
  font-family: "Barlow", sans-serif;
}

#titleBlocks,
#titleBlocks_A {
  color: #131310;
  background-color: #ebe4de;
  width: 100%;
  height: fit-content;
  padding: 5px 0;
  display: flex;
  align-items: center;
  vertical-align: center;
  justify-content: center;
}
/* Navigation  */
nav {
  background-color: #ebe4de;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  flex-direction: column;
  padding: 2px 0;
}

nav a {
  color: #9b9a94;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #e0cbc4;
  text-decoration: underline;
}
/* Home Section */
#home-div {
  height: 50vh;
  width: 100%;
  vertical-align: middle;
  background-color: #131310;
  background-image: url("photos/salonChairs.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.logo-img {
  width: 40%;
  border-radius: 8px;
}

/* About Us Section */
#aboutUS-section {
  width: 100%;
  margin: 0 auto;
  height: fit-content;
}

#aboutBox_A,
#aboutBox_B {
  background-color: white;
  text-align: center;
  width: 100%;
  height: 150px;
  padding: 2px 0;
}

/* Featured Section  */
#featured-section {
  background-color: white;
  margin: 0;
}
.postImg {
  background-color: white;
  display: flex;
  width: 100%;
}

.caption {
  background-color: white;
  width: 100%;
  height: 300px;
  margin-right: 2px;
  margin-left: 2px;
  border-bottom: 0;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Work Examples Section */
.work-img {
  height: 250px;
  width: 187px;
  padding: 10px;
}

/* Team Section */
#teamList,
#ourWork-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  padding: 4px;
}

.teamMember-img {
  height: 20vh;
  padding-right: 2px;
  padding-left: 2px;
}

/* Retail Section */
#retail-div {
  background-color: white;
  justify-content: center;
  padding: 4px;
}
#retailImageGallery {
  background-color: white;
  padding: 2px 0;
  display: flex;
  justify-content: space-evenly;
}
.retail-img {
  height: 30vh;
  width: 100%;
}

#retailSub-div {
  color: #131310;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Subscribe Section */
#subscribe-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: white;
  vertical-align: middle;
  padding: 4px;
}

#subscribeBlock {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

#subscribe-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  vertical-align: middle;
  align-content: center;
  background-color: white;
  padding: 10px;
}

#userEmail {
  background-color: white;
  color: #9b9a94;
  text-align: left;
  width: 200px;
  font-size: 20px;
  font-family: "Barlow", sans-serif;
}

#formSubscribe {
  background-color: #e0cbc4;
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  height: fit-content;
  width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  border: 0;
  padding: 5px;
}

/* Footer */
#footer {
  background-color: #9b9a94;
  color: white;
  height: fit-content;
  padding: 4px;
  width: 100%;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

/* Media Query */
@media screen and (min-device-width: 1100px) and (-webkit-min-device-pixel-ratio: 1) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    font-size: 25px;
  }
  #home-div {
    height: 700px;
  }

  .logo-img {
    width: 400px;
  }
  h2 {
    font-size: 45px;
    font-family: "Barlow", sans-serif;
  }
  h3 {
    font-size: 35px;
    font-family: "Barlow", sans-serif;
  }
  html {
    font-size: 30px;
    font-family: "Barlow", sans-serif;
  }
  #aboutUS-Sub {
    width: 100%;
    display: flex;
    align-self: center;
    flex-direction: row;
    height: 400px;
    margin: 0;
    border: 0;
    padding: 0;
  }
  #aboutBox_A,
  #aboutBox_B {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 400px;
  }

  #featured-subSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
  }
  .postImg {
    height: 900px;
    /* width: 50%; */
  }

  .caption {
    width: 50%;
    margin: 0;
    text-align: center;
    padding-top: 40px;
  }
  .work-img {
    height: 400px;
    width: 300px;
    padding: 20px;
  }

  #ourWork-div {
    justify-content: space-evenly;
    flex: 2;
    padding: 25px;
  }

  .teamMember-img {
    height: 400px;
    width: 400px;
    padding: 25px;
  }

  #teamList {
    justify-content: space-evenly;
    vertical-align: middle;
    /* padding: 25px; */
  }

  .retail-img {
    height: 300px;
    width: 100%;
    padding: 25px;
  }
}
