/* Global  */
body {
  background-color: #ebe4de;
  margin: 0;
}

html {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
}

h2 {
  font-size: 30px;
  font-family: "Barlow", sans-serif;
  text-align: center;
}
h3 {
  font-size: 25px;
  font-family: "Barlow", sans-serif;
}
/* Navigation  */
nav {
  background-color: #ebe4de;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  flex-direction: column;
  padding: 2px 0;
}

nav a {
  color: #9b9a94;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #e0cbc4;
  text-decoration: underline;
}
/* Home Section */
#home-div {
  height: 50vh;
  width: 100%;
  vertical-align: middle;
  background-color: #131310;
  background-image: url("photos/salonChairs.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.logo-img {
  max-width: 40%;
  border-radius: 8px;
}

/* About Us Section */
#aboutUS-section {
  width: 100%;
  margin: 0 auto;
  height: fit-content;
  /* flex: 0 0 auto; */
}

#aboutBox {
  background-color: white;
  /* display: flex; */
  /* flex-direction: column; */
  text-align: center;
  width: 100%;
  height: 300px;
  padding: 2px 0;
}

#titleBlocks {
  color: #131310;
  background-color: #ebe4de;
  width: 100%;
  height: fit-content;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Featured Section  */
.postImg {
  background-color: white;
  display: flex;
  width: 100%;
  /* flex: 0 1 50px; */
}

/* Work Examples Section */
#ourWork-div {
  background-color: white;
  text-align: center;
}

/* Team Section */
/* #ourTeam-div {
  align-items: center;
} */

#teamList {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-flow: row wrap;
  /* flex: 0 0 auto; */
}
.owner-img {
  height: 20vh;
  align-items: center;
}
.teamMember-img {
  height: 20vh;
}

/* Retail Section */
#retailImageGallery {
  background-color: white;
  padding: 2px 0;
  display: flex;
  /* flex: 0 0 auto; */
  justify-content: space-evenly;
}
.retail-img {
  height: 30vh;
  width: 100%;
}

/* Contact Us Section */
#contactUs-div {
  background-color: white;
  text-align: center;
}

/* Media Query
@media (max-width: 500px) {

} */
